<aside class="sidebar">
    <div class="logo-container">
        <a href="index.html" class="logo">Pixel<span>Gram</span></a>
    </div>

    <nav class="sidebar-links">
        <a href="index.html" class="side-item">
            <i data-lucide="home"></i> <span>Página inicial</span>
        </a>
        <a href="explorar.html" class="side-item">
            <i data-lucide="compass"></i> <span>Explorar</span>
        </a>
        <a href="reels.html" class="side-item">
            <i data-lucide="play-square"></i> <span>Reels</span>
        </a>
        <a href="mensagens.html" class="side-item">
            <i data-lucide="message-circle"></i> <span>Mensagens</span>
        </a>
        <a href="atividade.html" class="side-item">
            <i data-lucide="heart"></i> <span>Notificações</span>
        </a>
        <div class="side-item" onclick="openCreateModal()" style="cursor: pointer;">
            <i data-lucide="plus-square"></i> <span>Criar</span>
        </div>
        <a href="perfil.html" class="side-item">
            <img src="https://i.pravatar.cc/150?u=me" class="profile-pic-side"> <span>Perfil</span>
        </a>
    </nav>

    <div class="side-item sidebar-more">
        <i data-lucide="menu"></i> <span>Mais</span>
    </div>
</aside>